.practicacuatro_switch{
	margin:50px;
	margin-top: 4cm;
	float: center;
	border-style:dashed;
	border:red;
	width:1000px;
	height:500px;
}

#titulo
{
}

#content
{
	margin:50px;
	margin-top: 4cm;
	float: center;
	border-style:dashed;
	border:red;
	width:450px;
	height:715px;
{